/*This is a comment*/
/*The following is an example of grouping selectors*/
/*The curly braces are a declaration block.*/
li, h1 {
  color: rgb(177, 177, 22);
  text-align: center;
  font-size: 30px;
}
/*The following is an ID selector which has the highest specificity.*/
#pizza {
  color: red;
  font-family: "Times New Roman", sans-serif;font-size: 40px;
}
/*The following is an example of chaining selectors (This one is for class)*/ 
.random.list {
  color: blue;
}
body {
  background-color: rgb(212, 247, 161);
}
/*The following is a descendant combinator. It is yet to be typed*/
.ancestor .content {
  color: purple;
p4 {
  /*The following adjusts the boldness of font. It can go from 100 to 900.*/
  font-weight: 700;
}
  /*The following is used to change the size of an image without compromising proportions*/
img {
  height: auto;
  width: 800px;
}
/*The specificity of a style depends on the type and amount of the selector. The hierarchy is ID slecter, the class, type, and universal. */

/*Inheritance is used in determining what gets shown. This says that a descendant may get the priority of being shown even if the descendant doesn;t have the rule (depending on the CSS property).  such as <id="parent"> and <class="child">*/

/*If two selectors are equal is specificty, then the selector that came last will be performed. */
/*There is inline CSS which is CSS imbedded in an HTML tage and internal CSS which is in the head tage of HTML. */

